- var type = model.getType()
- var colors = [
-               i18n.gettext('black'),
-               i18n.gettext('red'),
-               i18n.gettext('blue'),
-               i18n.gettext('green'),
-               i18n.gettext('pink'),
-               i18n.gettext('orange')
-     ]
- var effects = [
-        "flash", "bounce", "shake", "tada", "swing", "wobble",
-        "wiggle", "pulse", "flip", "flipInX", "flipOutX", "flipInY",
-        "flipOutY", "fadeIn", "fadeInUp", "fadeInDown", "fadeInLeft",
-        "fadeInRight", "fadeInUpBig", "fadeInDownBig", "fadeInLeftBig",
-        "fadeInRightBig", "fadeOut", "fadeOutUp", "fadeOutDown",
-        "fadeOutLeft", "fadeOutRight", "fadeOutUpBig", "fadeOutDownBig",
-        "fadeOutLeftBig", "fadeOutRightBig", "bounceIn", "bounceInDown",
-        "bounceInUp", "bounceInLeft", "bounceInRight", "bounceOut",
-        "bounceOutDown", "bounceOutUp", "bounceOutLeft", "bounceOutRight",
-        "rotateIn", "rotateInDownLeft", "rotateInDownRight",
-        "rotateInUpLeft", "rotateInUpRight", "rotateOut", "rotateOutDownLeft",
-        "rotateOutDownRight", "rotateOutUpLeft", "rotateOutUpRight",
-        "lightSpeedIn", "lightSpeedOut", "hinge", "rollIn", "rollOut"
-    ]
- var animations = [
-        i18n.gettext('none'),
-        i18n.gettext('marquee'),
-        i18n.gettext('onebyone'),
-     ]


mixin positions
    tr
        th
            label(for="width-$#{id}")= i18n.gettext("width")
        td
            input(type="text", id="width-#{id}", value="#{model.getWidth()}")
            | px
    tr
        th
            label(for="height-#{id}")= i18n.gettext("height")
        td
            input(type="text", id="height-#{id}", value="#{model.getHeight()}")
            | px
    tr
        th
            label(for="top-#{id}")= i18n.gettext("top")
        td
            input(type="text", id="top-#{id}", value="#{model.getTop()}")
            | px
    tr
        th
            label(for="left-#{id}")= i18n.gettext("left")
        td
            input(type="text", id="left-#{id}", value="#{model.getLeft()}")
            | px
    tr
        th
            label(for="right-#{id}")= i18n.gettext("right")
        td
            input(type="text", id="right-#{id}", value="#{model.getRight()}")
            | px
    tr
        th
            label(for="bottom-#{id}")= i18n.gettext("bottom")
        td
            input(type="text", id="bottom-#{id}", value="#{model.getBottom()}")
            | px


h3(id="title-#{id}")= type + '  ' + id
div(id="webvfx-data-#{id}", style="display:none")
    if type == "image"
        fieldset
            table
                tr
                    td(colspan="2", style="text-align:center;padding:5px;")
                        img(src="#{model.getImageSrc()}", id="image-#{id}", width="100")
                mixin positions
    else
        fieldset
            table
                if type != "box"
                    tr
                        th
                            label(for="text-#{id}")= i18n.gettext("text")
                        td
                            textarea(id="text-#{id}", style="width:100px;height:60px")
                                | #{model.getText()}
                mixin positions
                if type != "box"
                    tr
                        th
                            label(for="font-size-#{id}")= i18n.gettext("font-size")
                        td
                            input(type="text", id="font-size-#{id}", value="#{model.getFontSize()}")
                            | px
                    tr
                        th
                            label(for="color-#{id}")= i18n.gettext("color")
                        td
                            input(type="text", id="color-#{id}", value="#{model.getColor()}")
                    tr
                        th
                            label(for="animation-#{id}")= i18n.gettext("animation")
                        td
                            select(id="animation-#{id}", style="width:120px")
                                for animation in animations
                                    option(selected=model.options.animation == animation) #{animation}
                    tr
                        th
                            label(for="interval-#{id}")= i18n.gettext("interval")
                        td
                            input(type="text", id="interval-#{id}", value="#{model.getInterval()}")
                            | ms
                tr
                    th
                        label(for="style-#{id}")= i18n.gettext("style")
                    td
                        select(id="style-#{id}", style="width:120px")
                            option(value='')= i18n.gettext("[select]")
                            each style, name in WebvfxSimpleWidgetStyles
                                option= i18n.gettext(name)

    fieldset
        legend.editor= i18n.gettext("Remove")
        table
            tr
                td.button(colspan="2")
                    button(id="remove-#{id}")= i18n.gettext("remove")
